{% extends 'base.html.twig' %}
{% block header_title %}
<h1 class="text-center">Liste des tâches</h1>
{% endblock %}
{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    {% if tasks is not empty %}
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    {% endif %}
    <div class="row">
        {% for task in tasks %}
        <div class="card mt-3 col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                    </h4>
                    <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                    <p id="content-{{ task.id }}">{{ task.content }}</p>
                </div>
                <div class="d-flex gap-3 mb-2">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm pull-right" id="toggle-{{ task.id }}">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    {% if app.user is not null and app.user is defined and (app.user.id == task.user.id or ('ROLE_ADMIN' in app.user.roles and (task.user.id == 0 or task.user.email == constant('App\\Service\\UserService::ANONYME_USER_EMAIL')))) %}
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm pull-right" id="delete-{{ task.id }}">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            {% if status is defined  and status is not null %}
                {% if status == 'done' %}
                    <div class="alert alert-warning" role="alert">
                        Il n'y a pas tâche fini. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
                    </div>
                {% endif %}
                {% if status == 'todo' %}
                    <div class="alert alert-warning" role="alert">
                        Il n'y a pas tâche à faire. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
